<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1"
          android:versionName="1.0"
          package="com.hackathon.android.translate"
          xmlns:android="http://schemas.android.com/apk/res/android">
          
  <uses-sdk android:minSdkVersion="10"/>
  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.front" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" />
  
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" /> 
  
  <application android:icon="@drawable/cw"
               android:label="@string/app_name">
    
    <activity android:configChanges="keyboardHidden|orientation"
              android:label="@string/app_name"
              android:name=".activity.WelcomeActivity">              
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
      
    <activity android:configChanges="keyboardHidden|orientation"
              android:label="@string/app_name"
              android:name=".activity.CameraPreviewActivity">
    </activity>
    
    <activity android:label="@string/app_name"
              android:name=".activity.IndexActivity">
    </activity>
    <activity android:label="@string/app_name"
              android:name=".activity.FacebookFriendsActivity">
    </activity>
  </application>
</manifest>